/*Fonts*/
@font-face{
    font-family: kristi;
    src: url(../Fonts/Kristi-Regular.ttf)
}

@font-face{
    font-family: lato;
    src: url(../Fonts/Lato-Regular.ttf)
}

@font-face{
    font-family: roboto;
    src: url(../Fonts/RobotoMono-Regular.ttf)
}

:root {
    --font_main: lato;
    --font_mainHeading: kristi;
    --font_secondaryHeading: roboto;

    font-family: var(--font_main);
    font-size: smaller;

    background-color: #f8f3ff;
}

html, body{
    padding: 0;
    margin: 0;
}

h1{
    font-family: var(--font_mainHeading);
    font-size: 60px;
    color: #150023;
}

h2, h3{
    font-family: var(--font_secondaryHeading);
}

header{
    padding-left: 20px;
    position: fixed;
}

/*Menu Navigation*/
nav ul{
    list-style-type: none;
    position: fixed;
    padding-left: 0;
}

.Menu ul li{
    float: left;
    margin-right: 0.5em;
}

nav ul li a{
    padding-right: 1em;
    text-decoration: none;
    color: #150023;
    font-size: initial;
}

nav ul li a:hover{
    font-weight: bold;
}

